<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>    
    <meta charset="UTF-8">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/bootstrap-table.css" media="screen">
    <style type="text/css">
    .m15{ margin: 15px;}
     .tc{ text-align: center;font-size: 18px;font-weight: 600;}
    </style>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-table.js"></script>
    <style type="text/css">
    a{margin-left: 20px; text-decoration: none;}
    a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12">
              <h1>Your name:  <%= uname %></h1>
              <p>Welcome to your home ~</p>
              <p><a href="/logout">我要注销 </a></p>
            </div> <!--右侧内容-->
        </div> <!--/end row -->
    </div>   <!--div class="container-fluid"-->      
  </body>
</html>
